@{
    ViewBag.Title = "Home Page";
}

<br />
<br />

 <div class="jumbotron">
     <center>
         <table>
             <tr>
                 <td>

                     <table>
                         <tr>
                             <td>
                                 <table border="1">
                                     <tr>
                                         <td>
                                             <h3>&nbsp;&nbsp;&nbsp;Transacional</h3>
                                             <table border="0" cellspacing="0" cellpadding="0">
                                                 <tr>
                                                     <td>
                                                         <p><ul><li><h5>Liquidados Com DUT</h5></li></ul>
                                                     </td>
                                                     <td>
                                                         <a href="http://asp.net" class="btn btn-primary btn-sm">Imprimir</a></p>
                                                     </td>
                                                     <td>
                                                         &nbsp;&nbsp;
                                                     </td>
                                                     <td>
                                                         <a href="http://asp.net" class="btn btn-primary btn-sm">Consultar</a></p>
                                                     </td>
                                                 </tr>
                                                 <tr>
                                                     <td>
                                                         <p><ul><li><h5>Liquidados Sem DUT</h5></li></ul>
                                                     </td>
                                                     <td>
                                                         <a href="http://asp.net" class="btn btn-primary btn-sm">Imprimir</a></p>
                                                     </td>
                                                     <td>
                                                         &nbsp;&nbsp;
                                                     </td>
                                                     <td>
                                                         <a href="http://asp.net" class="btn btn-primary btn-sm">Consultar</a></p>
                                                     </td>
                                                 </tr>
                                                 <tr>
                                                     <td>
                                                         <p><ul><li><h5>Sem DUT À Mais de 45 Dias &nbsp;&nbsp;</h5></li></ul>
                                                     </td>
                                                     <td>
                                                         <a href="http://asp.net" class="btn btn-primary btn-sm">Imprimir</a></p>
                                                     </td>
                                                     <td>
                                                         &nbsp;&nbsp;
                                                     </td>
                                                     <td>
                                                         <a href="http://asp.net" class="btn btn-primary btn-sm">Consultar</a></p>
                                                     </td>
                                                 </tr>
                                                 <tr>
                                                     <td>
                                                         <p><ul><li><h5>Impressão de DUT Avulso</h5></li></ul>
                                                     </td>
                                                     <td>
                                                         <a href="http://asp.net" class="btn btn-primary btn-sm">Imprimir</a></p>
                                                     </td>
                                                     <td>
                                                         &nbsp;&nbsp;
                                                     </td>
                                                     <td>
                                                         <a href="http://asp.net" class="btn btn-primary btn-sm">Consultar</a></p>
                                                     </td>
                                                     <td>
                                                         &nbsp;&nbsp;&nbsp;
                                                     </td>
                                                 </tr>
                                             </table>
                                         </td>
                                     </tr>
                                 </table>

                             </td>
                         </tr>
                         <tr>
                             <td>
                                 <h6>&nbsp</h6>
                             </td>
                         </tr>
                         <tr>
                             <td>

                                 <table border="1">
                                     <tr>
                                         <td>
                                             <h3>&nbsp;&nbsp;&nbsp;Transacional</h3>
                                             <table border="0" cellspacing="0" cellpadding="0">
                                                 <tr>
                                                     <td>
                                                         <p><ul><li><h5>Liquidados Com DUT</h5></li></ul>
                                                     </td>
                                                     <td>
                                                         <a href="http://asp.net" class="btn btn-primary btn-sm">Imprimir</a></p>
                                                     </td>
                                                     <td>
                                                         &nbsp;&nbsp;
                                                     </td>
                                                     <td>
                                                         <a href="http://asp.net" class="btn btn-primary btn-sm">Consultar</a></p>
                                                     </td>
                                                 </tr>
                                                 <tr>
                                                     <td>
                                                         <p><ul><li><h5>Liquidados Sem DUT</h5></li></ul>
                                                     </td>
                                                     <td>
                                                         <a href="http://asp.net" class="btn btn-primary btn-sm">Imprimir</a></p>
                                                     </td>
                                                     <td>
                                                         &nbsp;&nbsp;
                                                     </td>
                                                     <td>
                                                         <a href="http://asp.net" class="btn btn-primary btn-sm">Consultar</a></p>
                                                     </td>
                                                 </tr>
                                                 <tr>
                                                     <td>
                                                         <p><ul><li><h5>Sem DUT À Mais de 45 Dias &nbsp;&nbsp;</h5></li></ul>
                                                     </td>
                                                     <td>
                                                         <a href="http://asp.net" class="btn btn-primary btn-sm">Imprimir</a></p>
                                                     </td>
                                                     <td>
                                                         &nbsp;&nbsp;
                                                     </td>
                                                     <td>
                                                         <a href="http://asp.net" class="btn btn-primary btn-sm">Consultar</a></p>
                                                     </td>
                                                 </tr>
                                                 <tr>
                                                     <td>
                                                         <p><ul><li><h5>Impressão de DUT Avulso</h5></li></ul>
                                                     </td>
                                                     <td>
                                                         <a href="http://asp.net" class="btn btn-primary btn-sm">Imprimir</a></p>
                                                     </td>
                                                     <td>
                                                         &nbsp;&nbsp;
                                                     </td>
                                                     <td>
                                                         <a href="http://asp.net" class="btn btn-primary btn-sm">Consultar</a></p>
                                                     </td>
                                                     <td>
                                                         &nbsp;&nbsp;&nbsp;
                                                     </td>
                                                 </tr>
                                             </table>
                                         </td>
                                     </tr>
                                 </table>

                             </td>
                         </tr>

                         <tr>
                             <td>
                                 <h6>&nbsp</h6>
                             </td>
                         </tr>
                         <tr>
                             <td>

                                 <table border="1">
                                     <tr>
                                         <td>
                                             <h3>&nbsp;&nbsp;&nbsp;Transacional</h3>
                                             <table border="0" cellspacing="0" cellpadding="0">
                                                 <tr>
                                                     <td>
                                                         <p><ul><li><h5>Liquidados Com DUT</h5></li></ul>
                                                     </td>
                                                     <td>
                                                         <a href="http://asp.net" class="btn btn-primary btn-sm">Imprimir</a></p>
                                                     </td>
                                                     <td>
                                                         &nbsp;&nbsp;
                                                     </td>
                                                     <td>
                                                         <a href="http://asp.net" class="btn btn-primary btn-sm">Consultar</a></p>
                                                     </td>
                                                 </tr>
                                                 <tr>
                                                     <td>
                                                         <p><ul><li><h5>Liquidados Sem DUT</h5></li></ul>
                                                     </td>
                                                     <td>
                                                         <a href="http://asp.net" class="btn btn-primary btn-sm">Imprimir</a></p>
                                                     </td>
                                                     <td>
                                                         &nbsp;&nbsp;
                                                     </td>
                                                     <td>
                                                         <a href="http://asp.net" class="btn btn-primary btn-sm">Consultar</a></p>
                                                     </td>
                                                 </tr>
                                                 <tr>
                                                     <td>
                                                         <p><ul><li><h5>Sem DUT À Mais de 45 Dias &nbsp;&nbsp;</h5></li></ul>
                                                     </td>
                                                     <td>
                                                         <a href="http://asp.net" class="btn btn-primary btn-sm">Imprimir</a></p>
                                                     </td>
                                                     <td>
                                                         &nbsp;&nbsp;
                                                     </td>
                                                     <td>
                                                         <a href="http://asp.net" class="btn btn-primary btn-sm">Consultar</a></p>
                                                     </td>
                                                 </tr>
                                                 <tr>
                                                     <td>
                                                         <p><ul><li><h5>Impressão de DUT Avulso</h5></li></ul>
                                                     </td>
                                                     <td>
                                                         <a href="http://asp.net" class="btn btn-primary btn-sm">Imprimir</a></p>
                                                     </td>
                                                     <td>
                                                         &nbsp;&nbsp;
                                                     </td>
                                                     <td>
                                                         <a href="http://asp.net" class="btn btn-primary btn-sm">Consultar</a></p>
                                                     </td>
                                                     <td>
                                                         &nbsp;&nbsp;&nbsp;
                                                     </td>
                                                 </tr>
                                             </table>
                                         </td>
                                     </tr>
                                 </table>

                             </td>
                         </tr>
                     </table>

                 </td>
                 <td>
                     &nbsp;&nbsp;&nbsp;
                 </td>
                 <td>

                     <table border="0">
                         <tr>
                             <td>
                                 <table border="1">
                                     <tr>
                                         <td>
                                             <h3>&nbsp;&nbsp;&nbsp;Transacional</h3>
                                             <table border="0" cellspacing="0" cellpadding="0">
                                                 <tr>
                                                     <td>
                                                         <p><ul><li><h5>Liquidados Com DUT</h5></li></ul>
                                                     </td>
                                                     <td>
                                                         <a href="http://asp.net" class="btn btn-primary btn-sm">Imprimir</a></p>
                                                     </td>
                                                     <td>
                                                         &nbsp;&nbsp;
                                                     </td>
                                                     <td>
                                                         <a href="http://asp.net" class="btn btn-primary btn-sm">Consultar</a></p>
                                                     </td>
                                                 </tr>
                                                 <tr>
                                                     <td>
                                                         <p><ul><li><h5>Liquidados Sem DUT</h5></li></ul>
                                                     </td>
                                                     <td>
                                                         <a href="http://asp.net" class="btn btn-primary btn-sm">Imprimir</a></p>
                                                     </td>
                                                     <td>
                                                         &nbsp;&nbsp;
                                                     </td>
                                                     <td>
                                                         <a href="http://asp.net" class="btn btn-primary btn-sm">Consultar</a></p>
                                                     </td>
                                                 </tr>
                                                 <tr>
                                                     <td>
                                                         <p><ul><li><h5>Sem DUT À Mais de 45 Dias &nbsp;&nbsp;</h5></li></ul>
                                                     </td>
                                                     <td>
                                                         <a href="http://asp.net" class="btn btn-primary btn-sm">Imprimir</a></p>
                                                     </td>
                                                     <td>
                                                         &nbsp;&nbsp;
                                                     </td>
                                                     <td>
                                                         <a href="http://asp.net" class="btn btn-primary btn-sm">Consultar</a></p>
                                                     </td>
                                                 </tr>
                                                 <tr>
                                                     <td>
                                                         <p><ul><li><h5>Impressão de DUT Avulso</h5></li></ul>
                                                     </td>
                                                     <td>
                                                         <a href="http://asp.net" class="btn btn-primary btn-sm">Imprimir</a></p>
                                                     </td>
                                                     <td>
                                                         &nbsp;&nbsp;
                                                     </td>
                                                     <td>
                                                         <a href="http://asp.net" class="btn btn-primary btn-sm">Consultar</a></p>
                                                     </td>
                                                     <td>
                                                         &nbsp;&nbsp;&nbsp;
                                                     </td>
                                                 </tr>
                                             </table>
                                         </td>
                                     </tr>
                                 </table>

                             </td>
                         </tr>
                         <tr>
                             <td>
                                 <h6>&nbsp</h6>
                             </td>
                         </tr>
                         <tr>
                             <td>

                                 <table border="1">
                                     <tr>
                                         <td>
                                             <h3>&nbsp;&nbsp;&nbsp;Transacional</h3>
                                             <table border="0" cellspacing="0" cellpadding="0">
                                                 <tr>
                                                     <td>
                                                         <p><ul><li><h5>Liquidados Com DUT</h5></li></ul>
                                                     </td>
                                                     <td>
                                                         <a href="http://asp.net" class="btn btn-primary btn-sm">Imprimir</a></p>
                                                     </td>
                                                     <td>
                                                         &nbsp;&nbsp;
                                                     </td>
                                                     <td>
                                                         <a href="http://asp.net" class="btn btn-primary btn-sm">Consultar</a></p>
                                                     </td>
                                                 </tr>
                                                 <tr>
                                                     <td>
                                                         <p><ul><li><h5>Liquidados Sem DUT</h5></li></ul>
                                                     </td>
                                                     <td>
                                                         <a href="http://asp.net" class="btn btn-primary btn-sm">Imprimir</a></p>
                                                     </td>
                                                     <td>
                                                         &nbsp;&nbsp;
                                                     </td>
                                                     <td>
                                                         <a href="http://asp.net" class="btn btn-primary btn-sm">Consultar</a></p>
                                                     </td>
                                                 </tr>
                                                 <tr>
                                                     <td>
                                                         <p><ul><li><h5>Sem DUT À Mais de 45 Dias &nbsp;&nbsp;</h5></li></ul>
                                                     </td>
                                                     <td>
                                                         <a href="http://asp.net" class="btn btn-primary btn-sm">Imprimir</a></p>
                                                     </td>
                                                     <td>
                                                         &nbsp;&nbsp;
                                                     </td>
                                                     <td>
                                                         <a href="http://asp.net" class="btn btn-primary btn-sm">Consultar</a></p>
                                                     </td>
                                                 </tr>
                                                 <tr>
                                                     <td>
                                                         <p><ul><li><h5>Impressão de DUT Avulso</h5></li></ul>
                                                     </td>
                                                     <td>
                                                         <a href="http://asp.net" class="btn btn-primary btn-sm">Imprimir</a></p>
                                                     </td>
                                                     <td>
                                                         &nbsp;&nbsp;
                                                     </td>
                                                     <td>
                                                         <a href="http://asp.net" class="btn btn-primary btn-sm">Consultar</a></p>
                                                     </td>
                                                     <td>
                                                         &nbsp;&nbsp;&nbsp;
                                                     </td>
                                                 </tr>
                                             </table>
                                         </td>
                                     </tr>
                                 </table>

                             </td>
                         </tr>

                     </table>

                 </td>
             </tr>
         </table>
     </center>

</div>


@*<div class="row">
    <div class="col-md-4">
        <h2>Início</h2>
        <p>
            tralala.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Outro</h2>
        <p>tralala2.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Mais</h2>
        <p>tralala3.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@